{% extends "base.html" %}
{% block titulo %}Proyecto Info{% endblock %}
{% block body %}

  {% if request.user.username %}
      <div class="card">
        <div class="card-header">
          Jugar
        </div>
        <div class="card-body">
          <h5 class="card-title">Juego de preguntas y respuestas</h5>
          <p class="card-text">Juego de preguntas y respuestas con multiples opciones.</p>
          <a href="/juego" class="btn btn-primary">Jugar</a>
        </div>
      </div>
  {% else %}
      <div class="card">
        <div class="card-header">
          Jugar
        </div>
        <div class="card-body">
          <h5 class="card-title">Juego de preguntas y respuestas</h5>
          <p class="card-text">Para jugar debes iniciar sesion</p>
          <a href="/login" class="btn btn-primary">Iniciar sesion</a>
        </div>
      </div>
  {% endif %}
{% endblock %}
